<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Musica</title>
  </head>
  <body>
    <h1>Musica</h1>
    <ul>
      <% for(i = 0; i < resultado.length; i++) { %>
        <li> <%= resultado[i].Title %> </li>
      <% } %>
    </ul>
  </body>
</html>