<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><% titulo %></title>
  </head>
  <body>
    <h1><% titulo %></h1>
    <% if (estaVivo) { %>
    <p>O servidor está ativo</p>
    <% } else { %>
    <p>O servidor não está ativo</p>
    <% } %> <%= new Date() %>
    <h2>Ferramentas de prova de aplicativos:</h2>
    <ul>
      <% for(i = 0; i < ferramentas.length; i++) { %>
        <li> <%= ferramentas[i].nome %> </li>
      <% } %>
    </ul>
  </body>
</html>
