table, tr, th, td {
    border: 1px solid #000; 
    border-collapse: collapse; /* modelo de bordes de las celdas de la tabla */
    padding: 5px;
}

h1#titulo {
    color: teal; 
}

strong { 
    color: red; 
}

span.destacado {
    color: orange; 
}

h2#subtitulo {
    color: blue; 
}

span.especial {
    color: purple; 
}

a { 
    color: red; 
}

a em {
    color: blue;
}

div#adicional p { 
    color: olive; 
}

div#adicional span#especial {
    color: fuchsia; 
}

div#adicional a {
    color: green; 
}

caption {
    color: blue; 
}

td { 
    color: green; 
}

td strong {
    color: orange; 
}

th {
    color: red; 
}

th.especial { 
    color: orange; 
}